 [board_pins]
aliases:
    # Цифровые пины 0-13
    ar0=PD0, ar1=PD1, ar2=PD2, ar3=PD3, ar4=PD4, ar5=PD5, ar6=PD6,
    ar7=PD7, ar8=PB0, ar9=PB1, ar10=PB2, ar11=PB3, ar12=PB4, ar13=PB5,
    # Аналоговые пины A0-A5 (они же ar14-ar19)
    ar14=PC0, ar15=PC1, ar16=PC2, ar17=PC3, ar18=PC4, ar19=PC5


[force_move]
enable_force_move: True # Для отладки игнорируем сигнал с концевиков

[mcu]
# Уникальный адрес вашей платы в системе Linux
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
baud: 250000

[printer]
kinematics: corexy           # Алгоритм движения CoreXY (X и Y моторы работают вместе)
max_velocity: 80            # Макс. скорость (мм/с), для Uno лучше не завышать
max_accel: 1000               # Макс. ускорение (мм/с²), чтобы не пропускать шаги
max_z_velocity: 5           # Скорость подъема/опускания стола
max_z_accel: 20              # Ускорение по Z (небольшое из-за веса стола)

[stepper_x]
step_pin: ar2                # Пин шага для мотора X (слот X на шилде)
dir_pin: ar5                 # Пин направления (инвертируйте через "!", если едет не туда)
enable_pin: !ar8             # Общий пин включения всех драйверов (активен при Low)
microsteps: 16               # Настройка шага для A4988 (все 3 джампера установлены)
rotation_distance: 40        # Дистанция за 1 оборот (20 зубов шкив * 2мм шаг ремня)
full_steps_per_rotation: 200  # Явное указание 200 шагов на оборот
endstop_pin: ^ar9            # Концевик X (пин X-Limit), "^" включает подтяжку резистора
position_endstop: 430          # Координата срабатывания концевика
position_max: 430           # Максимальный вылет по оси X
homing_positive_dir: true    # Сообщаем принтеру, что ехать к концевику нужно в сторону УВЕЛИЧЕНИЯ координат
homing_speed: 20             # Скорость поиска дома

[stepper_y]
step_pin: ar3                # Пин шага для мотора Y (слот Y на шилде)
dir_pin: ar6                 # Пин направления
enable_pin: !ar8             # Тот же общий пин включения
microsteps: 16               
rotation_distance: 40        
full_steps_per_rotation: 200  # Явное указание 200 шагов на оборот
endstop_pin: ^ar10           # Концевик Y (пин Y-Limit)
position_endstop: 0          
position_max: 300            
homing_speed: 40             

[stepper_z]
step_pin: ar4                # Пин шага для мотора Z (слот Z на шилде)
dir_pin: !ar7                 # Направление (без "!" — вверх к соплу, с "!" — вниз)
enable_pin: !ar8             
microsteps: 1               
rotation_distance: 2         # Для стандартного винта T8 (8мм за оборот)
gear_ratio: 36:12            # Передаточное отношение с двигателя на вал ходового винта 
full_steps_per_rotation: 200  # Явное указание 200 шагов на оборот
endstop_pin: probe: z_virtual_endstop           # Концевик Z (пин Z-Limit)
#position_endstop: 0          # Ноль вверху (стол коснулся сопла)
position_max: 300            # На сколько мм стол может опуститься вниз
homing_speed: 5              # Медленная скорость для точности и безопасности
position_min: -4

[extruder]
step_pin: ar12               # Пин шага (слот A, при условии джамперов на D12)
dir_pin: ar13                # Пин направления (слот A, джамперы на D13)
enable_pin: !ar8             
microsteps: 1               
rotation_distance: 23.562      # Калибруется индивидуально (для BMG обычно ~7.5, для MK8 ~33)
gear_ratio: 50:17
full_steps_per_rotation: 200  # Явное указание 200 шагов на оборот
nozzle_diameter: 0.400       # Диаметр сопла
filament_diameter: 1.750     # Диаметр прутка
heater_pin: ar14             # Пин управления нагревом (через внешний МОСФЕТ!) ABORT на CNC Shield
sensor_type: Generic 3950    # Тип вашего датчика температуры
sensor_pin: ar15             # Пин термистора (Hold на плате)
pullup_resistor: 4650        # Сопротивление резистора делителя напряжения
max_temp: 280
smooth_time: 1.7
control: pid                 # Режим поддержания температуры
pid_Kp: 22.2                 # Коэффициенты PID (нужно калибровать после сборки)
pid_Ki: 1.08
pid_Kd: 114
min_temp: -200
max_temp: 250

[thermistor my_custom_sensor]
temperature1: 25
resistance1: 100000
beta: 3950

[bltouch]
sensor_pin: ^ar11        # Белый провод. Втыкаем вместо концевика Z (Z-Limit)
control_pin: ar16        # Желтый провод. Подключаем к пину RESUME
x_offset: 0            # НУЖНО ИЗМЕРИТЬ (расстояние от сопла до датчика)
y_offset: 31.5              # НУЖНО ИЗМЕРИТЬ
#z_offset: 0             # Настроите после калибровки

[safe_z_home]
home_xy_position: 215, 170   # Гоминг Z в центре стола, чтобы сопло не висело в воздухе
speed: 50                    # Скорость движения к центру
z_hop: 5                     # Опустить стол на 5мм перед движением по X/Y

[bed_mesh]
speed: 50
horizontal_move_z: 5
mesh_min: 60, 40    # Минимальные координаты, куда может дотянуться сопло
mesh_max: 415, 240  # Максимальные координаты (учитывайте оффсет датчика!)
probe_count: 5, 5   # Сетка 5х5 точек

[fan]
pin: ar17  #CoolEn на плате CNC. Вентилятор будет управляться слайсером
cycle_time: 0.010  # Частота 10 Гц, поможет вентилятору стартовать легче
kick_start_time: 0.500  # Дает полный ток на 0.5 сек при старте, чтобы раскрутить лопасти


[idle_timeout]
timeout: 1800                # Выключить моторы через 30 минут простоя

[pause_resume]

[display_status]

[virtual_sdcard]
path: ~/printer_data/gcodes

[gcode_macro PRINT_START]
gcode:
    # {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(220)|float %}
    # G28                            # Хоминг
    BED_MESH_PROFILE LOAD=default   # Загрузка карты
    # G1 Z5 F3000
    # M109 S{EXTRUDER_TEMP}       ; Ждем сопло
    

[gcode_macro PAUSE]
description: Пауза печати
rename_existing: PAUSE_BASE
gcode:
    PAUSE_BASE

[gcode_macro RESUME]
description: Продолжить печать
rename_existing: RESUME_BASE
gcode:
    RESUME_BASE

[gcode_macro CANCEL_PRINT]
description: Отмена печати
rename_existing: CANCEL_PRINT_BASE
gcode:
    CANCEL_PRINT_BASE
    TURN_OFF_HEATERS
    M84

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 0.450
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.536667, -0.310000, -0.306667, -0.526667, -0.913333
#*# 	  -0.523333, -0.323333, -0.333333, -0.463333, -0.786667
#*# 	  -0.473333, -0.233333, -0.200000, -0.316667, -0.516667
#*# 	  -0.496667, -0.233333, -0.193333, -0.340000, -0.456667
#*# 	  -0.640000, -0.373333, -0.296667, -0.443333, -0.730000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 60.0
#*# max_x = 415.0
#*# min_y = 40.0
#*# max_y = 240.0
